.hover-table:hover {
    background: #ccc;
}

.btn-group button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.selected-row {
    background: #ddd;
}

.active-row {
    background: #d1c4e9;
    /* Màu nền khi hàng được nhấp vào */
}

